body { 
    background: fuchsia !important; 
}

#bottom, #push { 
    height:30px;
}

.title{
    margin-top: 2%;
}

.container {
    text-align: center; margin-top: 5%;  
}

h1, button, input, select, option {
    text-align: center; font-family: "Comic Sans MS", cursive, sans-serif;
}

label, p {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

div#loading {
    display: none;
}

img {
    display: block;
    margin: 0 auto;
}

p{
  font-family: "Comic Sans MS", cursive, sans-serif;
}
hr{
    margin-top: 95%;
    color: black;
    width: 95%; 
}

html{ 
    height: 100%; 
}

