 body { 
     background: fuchsia !important; 
}

.container {
 text-align: center;     
 margin-top: 10%   
}

h1, button, input, select, option {
 text-align: center;  
 font-family: "Comic Sans MS", cursive, sans-serif;
}

label {
 font-family: "Comic Sans MS", cursive, sans-serif;
}


